SENDGRID_API_KEY = <your-sendgrid-API-key>
SENDGRID_EMAIL_ENDPOINT = https://api.sendgrid.com/v3/mail/send

MAILGUN_API_KEY = <your-mailgun-API-key>
MAILGUN_EMAIL_ENDPOINT =

EMAIL_PROVIDER = sendgrid
